.user-gallery {
  width: 100%;

  > .test {
    display: flex;
    justify-content: space-between;
    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      &.dropdowns {
        width: 505px;
        select {
          padding: 5px;
          width: 150px;
        }
      }
    }
  }

  > .items {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 16px;

    @media screen and (min-width: 768.1px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  > .heading + .items {
    margin-top: 100px;
  }
}
